.containerHero {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.name {
  font-family: "Sigmar", cursive;
  font-size: 40px;
  background-image: linear-gradient(
    to left,
    rgb(231, 140, 231),
    rgb(183, 100, 243),
    rgb(87, 236, 236),
    rgb(120, 228, 120),
    rgb(233, 248, 98),
    rgb(250, 189, 75),
    rgb(243, 61, 61)
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
.containerInfo {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 5px;
}
