.navHamburger {
  width: 320px;
  position: absolute;
  top: 100%;
  left: 0;
  font-family: "Sigmar", cursive;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
  border-right: solid 1px white;
  border-bottom: solid 1px white;
}
.navHamburgerClose {
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
}
.navList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  text-align: left;
  gap: 10px;
  padding: 0 15px;
}

#lastLiNav {
  border-bottom: none;
}
.navOption {
  width: 100%;
  font-size: 25px;
  border-bottom: solid 1px white;
  text-decoration: none;
  color: white;
  position: relative;
}
.navOption:hover {
  background-image: linear-gradient(
    to left,
    rgb(231, 140, 231),
    rgb(183, 100, 243),
    rgb(87, 236, 236),
    rgb(120, 228, 120),
    rgb(233, 248, 98),
    rgb(250, 189, 75),
    rgb(243, 61, 61)
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
@media (min-width: 768px) {
  .navHamburger {
    width: 100%;
    position: relative;
    border: none;
  }
  .navList {
    flex-direction: row;
    align-items: center;
    gap: 0px;
  }
  .navOption {
    width: auto;
    margin: 0 20px;
    border: none;
    font-size: 20px;
  }
  .navOption::before {
    position: absolute;
    content: "";
    top: 102%;
    width: 0%;
    height: 2px;
    background: linear-gradient(
      to left,
      rgb(231, 140, 231),
      rgb(183, 100, 243),
      rgb(87, 236, 236),
      rgb(120, 228, 120),
      rgb(233, 248, 98),
      rgb(250, 189, 75),
      rgb(243, 61, 61)
    );
    transition: all 0.5s ease-in-out;
  }
  .navOption:hover::before {
    width: 100%;
    transition: all 0.5s ease-in-out;
  }
  .navOption:hover {
    color: white;
  }
  .navHamburgerClose {
    transform: translateX(0%);
  }
}
@media (min-width: 992px) {
  .navOption {
    margin: 0 45px;
    border: none;
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .navOption {
    margin: 0 60px;
  }
}
