.skill {
  margin-bottom: 10px;
}
.glider-dot {
  width: 15px !important;
  height: 15px !important;
  background: #838383 !important;
  margin: 10px !important;
}
.glider-dot.active {
  background-color: rgb(255, 255, 255) !important;
}
