.textAnimated {
  font-size: 30px;
  font-family: "Handlee", cursive;
}
.typed-cursor {
  font-size: 30px;
  font-family: "Handlee", cursive;
}
@media (min-width: 992px) {
  .textAnimated {
    font-size: 60px;
  }
  .typed-cursor {
    font-size: 60px;
  }
}
