.header{
    width: 100%;
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
}
.nav{
    width: 100%;
    font-family: 'Sigmar', cursive;
}
.navList{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.navList li{
    font-size: 35px;
    margin: 0 50px;
}
.navList li a{
    text-decoration: none;
    color: white;
    position: relative;
}
.navList li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, rgb(231, 140, 231), rgb(183, 100, 243), rgb(87, 236, 236), rgb(120, 228, 120), rgb(233, 248, 98), rgb(250, 189, 75), rgb(243, 61, 61));
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}
.navList li a:hover::before {
    transform: scaleX(1);
  }
