.containerProjects {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 1097px) {
  .containerProjects {
    justify-content: space-around;
  }
}
