.containerProjects {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.project {
  width: 400px;
  margin: 10px;
  box-shadow: 0 0 5px white;
  padding: 15px;
  border-radius: 30px;
  font-family: "Handlee", cursive;
}
.tittleProject {
  font-size: 25px;
}
.skillsProject {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0;
  flex-wrap: wrap;
}
.skillsProject img {
  width: 50px;
}
.projectImage {
  width: 100%;
}
.projectImage img {
  width: 100%;
  max-height: 100%;
}
.projectInfo {
  font-size: 20px;
  text-align: justify;
}
.linkProject {
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  font-size: 22px;
  font-family: "Sigmar", cursive;
  box-shadow: 0px 0px 5px white;
  margin-top: 20px;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
}
.linkProject:hover {
  color: rgba(0, 0, 0);
  background-color: white;
  transition: all 0.2s ease-in-out;
}
